{% extends "auctions/layout.html" %}

{% block body %}
<div class = "forlisting">
<table class="listingTable">
  <thead>
    <th colspan="2">Active Listings</th>
  </thead>

    {% for listing in listings %}
    <tbody>

<tr>
  <td>
    <div style="width:75%">
  
    {% if listing.imageLink %}
      <img src = "{{ listing.imageLink.url }}"   alt="image"/>  
  {% else %}
      <img src = "/media/images/no.jpeg"  alt="no image"/>  
  {% endif %}
</div>
  </td>

  <td>
  <div class ="listingColumn">
  {{ listing.title }}
  <br>
  {{ listing.description }} 
  <br>
  {{ listing.startingBid }}$
  <br>
    <a href ="{% url 'displayListing' listing.id %}" class="btn btn-primary">Redirect</a>
  </td>
</div>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}